<h2><%=@user.username %>'s Garage</h2>

<a href="/user/<%= @user.id %>/edit">Update account</a>

<h3>Owned Bikes</h3>
<a href="/bike/new">Add Bike</a>

<% @owned_bikes.each do |bike|%>
  <p>
    <a href="/bike/<%= bike.id%>">
      <%= bike.year %> <%= bike.make %> <%= bike.model %>
    </a>
  </p>
  <img src="<%= bike.image_url %>" alt="Bike pics">
<% end %>

<h3>Rented Bikes</h3>
<a href="">Add/Edit/Remove Booking</a>



