<h1>Book <%=@owner.username %>'s <%= @bike.year %> <%= @bike.make %> <%= @bike.model %></h1>

<form class="new-booking-form"action="/booking" method="post">
  <input name="booking_start" type="date"/>
  <input name="bike_id" type="hidden"  value="<%= @bike.id %>">
  <button class="new-booking-btn">Book bike</button>
</form>