<h1><%= @bike.year %> <%= @bike.make %> <%= @bike.model %> </h1>
<div class="grid-item">
  <img src="<%= @bike.image_url %>" alt="Bike pics">
  <h3>Booked for: <%= @booking.booking_start.strftime('%d ' '%B ' '%y') %></h3>
  <p>Owner: <%=@owner.username %></p>
  <p>Owner's email: <%=@owner.email %></p>
  <p>LAMS Approved: 
    <% if @bike.lams == "0" %>
      No
    <% else %>
      Yes
    <% end %>
  </p>
  <p>Daily Rate: $<%= @bike.daily_rate %></p>
  <a class="edit-booking-date-btn"href="/booking/<%= @booking.id %>/edit">Edit Booking Date</a>
  <form action="/booking/<%= @booking.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="delete-booking-btn">Delete Booking</button>
  </form>
</div>