
<a href="/user/<%= @user.id %>/edit">Update account</a>

<h2><%=@user.username %>'s Garage</h2>
<h2>Owned Bikes</h2>

<a class="add-bike-btn" href="/bike/new">Add Bike</a>

<div class="grid-container">
  <% @owned_bikes.each do |bike|%>
    <a class="grid-item" href="/bike/<%= bike.id%>">
      <img src="<%= bike.image_url %>" alt="Bike pics">  
      <p><%= bike.year %> <%= bike.make %> <%= bike.model %></p>
    </a>
  <% end %>
</div>


<h2>Borrowed Bikes</h2>

<% @user_bookings.each do |booking|%>
  <% bike = Bike.find_by(id: booking.bike_id) %>
  <h3>Booked for <%= booking.booking_start.strftime('%d ' '%B ' '%y')%></h3>
    <div class="borrowed-bikes">
      <a href="/booking/<%= booking.id %>">
        <img src="<%= bike.image_url %>" alt="Bike pics">
        <p><%= bike.year %> <%= bike.make %> <%= bike.model %></p>
      </a>
    </div>
<% end %>
