
<a href="/user/<%= @user.id %>/edit">Update account</a>

<h2><%=@user.username %>'s Garage</h2>

<h3>Owned Bikes</h3>
<a href="/bike/new">Add Bike</a>

<% @owned_bikes.each do |bike|%>
  <p>
    <a href="/bike/<%= bike.id%>">
      <%= bike.year %> <%= bike.make %> <%= bike.model %>
    </a>
  </p>
  <img src="<%= bike.image_url %>" alt="Bike pics">
    
<% end %>

<h3>Rented Bikes</h3>

<% @user_bookings.each do |booking|%>
  <% bike = Bike.find_by(id: booking.bike_id) %>
  <p>Booked for <%= booking.booking_start.strftime('%d ' '%B ' '%y')%></p>
  <p>
    <a href="/booking/<%= booking.id %>">
      <%= bike.year %> <%= bike.make %> <%= bike.model %>
    </a>
    <img src="<%= bike.image_url %>" alt="Bike pics">

  </p>
<% end %>



