<h1>Bikes available to rent</h1>
<div class="grid-container">
  <% @bikes.each do |bike|%>
    <a class="grid-item" href="/bike/<%= bike.id%>">
      <img src="<%= bike.image_url %>" alt="Bike pics">
        <p>
          <%= bike.year %> <%= bike.make %> <%= bike.model %>
        </p>
        <p>LAMS Approved: 
          <% if bike.lams == "0" %>
            No
          <% else %>
            Yes
          <% end %>
        </p>
      <p><%= bike.owner.suburb %></p>
      <p>$ <%= bike.daily_rate.to_i%> per day</p>
    </a>
<% end %>
</div>