<h1><%=@owner.username %>'s <%= @bike.year %> <%= @bike.make %> <%= @bike.model %> </h1>
  
<div class="grid-item">
  <img src="<%= @bike.image_url %>" alt="Bike pics">
  
  <p>LAMS Approved: 
    <% if @bike.lams == "0" %>
      No
    <% else %>
      Yes
    <% end %>
  </p>
  
  <p>Daily Rate: $<%= @bike.daily_rate %></p>
  
  <div class="user-bike-btns">
    <% if current_user == nil %>
      <a class="login-to-book-btn" href="/login">Log in to book this Bike</a>
    <% elsif current_user.id == @owner.id %>
        <a class="view-bookings-btn" href="/bike/<%= @bike.id%>/booking">View Bookings</a>
        <a class="edit-bike-btn" href="/bike/<%= @bike.id %>/edit">Edit Bike details</a>
        <form action="/bike/<%= @bike.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="delete-bike-btn">Delete Bike</button>
        </form>
        <a href="/user/<%= current_user.id %>">Back to Garage</a>
    <% else %>
      <a class="book-bike-btn" href="/booking/bike/<%= @bike.id %>">Book this Bike</a>
    <% end %>
  </div>
</div>
